body {
	background: #F0F0F0;
}

h1 {
	top: 500px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	text-align: center;
	width: 960px;
}

text {
	font-size: 18px;
}

select {
	font-size: 18px;
}